/* this is css modifies addresses the jordantemplate landing page */

/*big division in which the other three divisions are contained*/
#viewPort
{
height:1500px;
float:none;
width:100%;
}

/*content window division*/
#main
{
background-color: #CC9900;
height: 1500px;
float: right;
width: 90%;
}

/*text in the content window*/
#mainText
{
font-family:Georgia;
font-weight:1200;
}

/*site map window*/
#sideBar
{
background-color: #FFCC66;
height: 1500px;
float: left;
width: 10%;
}

/*site map text*/
#sideText
{
font-family:Georgia;
font-weight:450;
}

/*footer & social media hub division*/
#footer
{
background-color: #996600;
height: 150px;
float: left;
width: 100%;
clear:both;
}

/*footer & social media text*/
#footerText
{
font-family:Georgia;
font-weight:600;
}