#viewPort
	/*testing for meta*/

#map
{
	position: relative;
	float: left;
	margin-top: 0px;
	width: 15%;
	height: 600px;
	background-color: #FFCC66;
	margin-bottom: 0px;

}

#main {
	position: relative;
	float: right;
	margin-top: 0px;
	width: 85%;
	height: 600px;
	background-color: #CC9900;
	margin-bottom: 0px;

}
#title
{
}
#footer {
	height: 80px;
	width: 100%;
	background-color: #996600;
	position: relative;
	clear: both;
	margin: 0px;
	padding-bottom: 40px;
}
#sMButtons1
{
	height: 80px;
	width: 33%;
	position: absolute; 
	margin-left: 0px;
}
#sMButtons2
{
	height: 80px;
	width: 33%;
	position: absolute; 
	margin-left: 500px;
}
#sMButtons3
{
	height: 80px;
	width: 33%;
	position: absolute; 
	margin-left: 1000px;
}
.contentStuff
{
	margin-left: 10px;
	margin-right: 10px;
}
.mapStuff
{
	margin-left: 10px;
	margin-right: 10px;
	font-weight: bold; 
	text-decoration: underline;
}
.footStuff
{
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 3px;

}
h1
{
	font-family: Arial;
	font-size: 24 px;
}
.panelTitle
{
	font-family: Arial;
	font-size: 20 px;
	font-weight: bold;
	margin-left: 5px;
	margin-top: 5px;
	padding-top: 4px;
}