/* this is trainRob.css which modifies all pages for the "the great train robbery" reboot */

#viewPort
{
background-color: #CC9900;
padding: 3px;
}

#map
{
float: left;
width: 8%;
height: 600px;
margin-top: 7px;
margin-bottom: 7px;
background-color:#FFCC66;
}

#mapButton
{
width:7%;
width: 80px;
border: 1px solid black;
border-radius: 8px;
height: 25px;
float: right;
padding:5px;
margin-bottom:5px;
}

#main
{
float: right;
height: 600px;
width: 92%;
margin-top: 7px;
margin-bottom: 7px;
overflow: scroll;
}

#footer
{
margin-top: 20px;
margin-bottom: 20px;
height: 70px;
clear: both;
text-align: center;
text-decoration: none;
background-color:#996600;
}


#majorText
{
text-align: center;
font-family: fantasy;
}

.linkFoot
{
width: 19.4%;
border: 1px solid #000000;
display: inline-block;
margin-top: 8px;
border-radius:5px;
}

.social
{
text-align: center;
}
